.quiz-content-wrapper {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.quiz-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 2rem;
}

.quiz-content > * {
  margin-bottom: 1rem;
}

.quiz-category-container {
  width: 100%;
  display: flex;
}

.quiz-category {
  text-transform: capitalize;
}

.quiz-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-summary-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.quiz-summary {
  width: 50vw;
  padding: 1rem;
  border: 2px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1198px) {
  .quiz-summary {
    width: 75vw;
  }
}
