.results-container {
  margin-bottom: 2rem;
}

.temp-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.temp-container {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 50px;
  gap: 1rem;
  justify-content: center;
}

.temp-child {
  justify-self: center;
  align-self: center;
}

@media screen and (min-width: 1700px) {
  .temp-container {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .temp-container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .temp-container {
    width: 90%;
  }
}
