.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout-btn {
  position: fixed;
  top: 1.5rem;
  right: 50px;
}
