:root {
  --nav-bg-color: rgba(31, 41, 55);
  --main-bg-color: rgba(229, 231, 235);
  --main-btn-color: rgba(79, 70, 229);
  --main-border-radius: 0.375rem;
  --font-color-secondary: rgba(79, 70, 229);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

button {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  background-color: var(--main-btn-color);
  color: rgb(255, 255, 255);
  border-radius: var(--main-border-radius);
  border-color: transparent;
  border-width: 1px;
  cursor: pointer;
}
